@font-face {
    font-family: ChildishFree;
    src: url(../ressources/font/ChildishFree.otf);
}

@font-face {
    font-family: EazyChat;
    src: url(../ressources/font/Eazy\ Chat.ttf);
}

@font-face {
    font-family: WinterDrink;
    src: url(../ressources/font/Winter\ Drink.ttf);
}

* {
    margin: 0;
}

.bandeau_info {
    margin: auto;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e28b3c;
    text-align: center;
    flex-wrap: wrap;
}

.bandeau_info img {
    width: 80px;
    padding-bottom: 5%;
}

.bandeau_info h4, .bandeau_info p {
    text-align: center;
    font-size: 20px;
    padding-top: 5%;
}

.bandeau_info p {
    @media (max-width: 1500px) {
        padding-bottom: 13%;
    }
}

