.footer {
    background-color: #f9f6ef;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 27%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-top: 2%;
    font-size: 20px;
    margin-top: 5%;
    @media (max-width: 890px) {
        padding-bottom: 10%;
        padding-left: 5%;
        flex-direction: column;
    }
}

.footer p {
    font-weight: bold;
    margin-bottom: 20px;
    @media (max-width: 890px) {
        margin-top: 10%;
    }
}

.footer button {
    padding: 0;
    border: none;
    font-size: 18px;
    width: fit-content;
    margin-bottom: 8%;
    background-color: #f9f6ef;
    @media (max-width: 890px) {
        margin-bottom: 1%;
    }
}

.footer button:hover {
    border-bottom: solid;
    border-width: 1px;
}

.a_propos, .nos_peluches, .assistance {
    display: flex;
    flex-direction: column;
}