@font-face {
    font-family: ChildishFree;
    src: url(../ressources/font/ChildishFree.otf);
}

@font-face {
    font-family: EazyChat;
    src: url(../ressources/font/Eazy\ Chat.ttf);
}

@font-face {
    font-family: WinterDrink;
    src: url(../ressources/font/Winter\ Drink.ttf);
}

body {
    margin: 0;
    background-color: #f9f6ef;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 941px) {
        flex-direction: column;
    }
}

.reduc_bandeau {
    width: 100%;
    background-color: #e28b3c;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-family: EazyChat;
    color: white;
}

.logo_header {
    margin-top: 2%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    @media (max-width: 941px) {
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    @media (max-width: 518px) {
        align-items: center;
    }
}

.logo_header img {
    width: 180px;
    @media (max-width: 420px) {
        width: 100px;
    }
}

.brand_name {
    color: #e28b3c;
    text-align: center;
    @media (max-width: 300px) {
        display: none;
    }
}

.brand_name h1 {
    margin: 0;
    margin-top: 8%;
    font-family: ChildishFree;
    font-size: 100px;
    @media (max-width: 518px) {
        font-size: 50px;
    }
}

.brand_name h3 {
    margin: 0;
    margin-top: 3%;
    padding-bottom: 2%;
    letter-spacing: 0.4vw;
}

.pages {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
    width: 40%;
    padding-left: 10%;
    @media (max-width: 941px) {
        width: 100%;
        justify-content: space-between;
        padding: 0;
        padding-top: 5%;
    }
}

.pages div {
    @media (max-width: 941px) {
        border-bottom: 2px solid transparent;
        width: 33.3%;
        text-align: center;
    }
}

.pages div:hover {
    @media (max-width:941px) {
        border-bottom: solid;
        border-bottom-color: #ffd5aa;
        border-bottom-width: 3px;
    }
}

.pages a {
    text-decoration: none;
    font-weight: bold;
    color: #e28b3c;
    font-size: 1.5vw;
    font-family: EazyChat;
    @media (max-width: 941px) {
        text-align: center;
        font-size: 25px;
    }
}

.pages img {
    visibility: hidden;
    width: 8%;
    padding-left: 5%;
    padding-right: 5%;
    vertical-align:text-bottom;
    @media (max-width: 941px) {
        visibility: visible;
        display: none;
    }
}

.faq:hover img {
    visibility: visible;
    opacity: 1;
    @media (max-width: 941px) {
        display: none;
    }
}

.contact:hover img {
    visibility: visible;
    opacity: 1;
    @media (max-width: 941px) {
        display: none;
    }
}

.panier:hover img {
    visibility: visible;
    opacity: 1;
    @media (max-width: 941px) {
        display: none;
    }
}

