@font-face {
    font-family: ChildishFree;
    src: url(../../ressources/font/ChildishFree.otf);
}

@font-face {
    font-family: EazyChat;
    src: url(../../ressources/font/Eazy\ Chat.ttf);
}

@font-face {
    font-family: WinterDrink;
    src: url(../../ressources/font/Winter\ Drink.ttf);
}

@font-face {
    font-family: LemonMilk;
    src: url(../../ressources/font/Lemon\ Milk.otf);
}

@font-face {
    font-family: TheStudentsTeacher;
    src: url(../../ressources/font/TheStudentsTeacher-Regular.ttf);
}

* {
    margin: 0;
}

.all {
    padding: 5%;
}
